<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slide 1</title>
    <link rel="stylesheet" href="../dist/css/app.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div id="app">
    <div class="container">
        <div id="first" class="slide slide1">
            <div class="background">
                <img src="../assets/presentation_image/first/first_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="big-logo">
                    <img style="width: 100%" src="../assets/presentation_image/first/big-logo.png" alt="">
                </div>
                <div class="wave-block">
                    <div class="text">
                        <p>
                            <span>Автоматизируем</span>
                            <span>работу</span>
                            <span>ресторанов<img src="../assets/wave.svg" alt=""></span>
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div id="second" class="slide slide2">
            <div class="background">
                <img src="../assets/presentation_image/second/second_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="content-row first-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/second/3.png" alt="">
                    </div>
                </div>
                <div class="content-row second-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/second/2.png" alt="">
                    </div>
                </div>
                <div class="content-row third-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/second/1.png" alt="">
                    </div>
                    <div class="list-block">
                        <ul>
                            <li class="item">
                                <div class="item-number">
                                    <p>01</p>
                                </div>
                                <div class="item-text">
                                    <p>Обслуживание<br>гостей </p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-number">
                                    <p>02</p>
                                </div>
                                <div class="item-text">
                                    <p>Гибкая настройка схем залов </p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-number">
                                    <p>03</p>
                                </div>
                                <div class="item-text">
                                    <p>Резервирование столов и банкеты </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="third" class="slide slide3">
            <div class="background">
                <img src="../assets/presentation_image/third/third_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="content-row first-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/third/3.png" alt="">
                    </div>
                </div>
                <div class="content-row second-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/third/2.png" alt="">
                    </div>
                </div>
                <div class="content-row third-row">
                    <div class="image-block">
                        <img src="../assets/presentation_image/third/1.png" alt="">
                    </div>
                    <div class="list-block">
                        <ul>
                            <li class="item">
                                <div class="item-number">
                                    <p>01</p>
                                </div>
                                <div class="item-text">
                                    <p>Курсы подачи блюд </p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-number">
                                    <p>02</p>
                                </div>
                                <div class="item-text">
                                    <p>Удобная работа с заказом </p>
                                </div>
                            </li>
                            <li class="item">
                                <div class="item-number">
                                    <p>03</p>
                                </div>
                                <div class="item-text">
                                    <p>Разделение чека по гостям</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="fourth" class="slide slide4">
            <div class="background">
                <img src="../assets/presentation_image/fourth/fourth_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="block left"></div>
                <div class="block center">
                    <h2>
                        <span>Это</span>
                        <span>наш</span>
                        <span>продукт</span>
                    </h2>
                </div>
                <div class="block right">
                    <div class="text-block">
                        <p>Профессиональное
                            решение
                            для обслуживания
                            гостей у столов</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fifth" class="slide slide5">
            <div class="background">
                <img src="../assets/presentation_image/fifth/fifth_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="text-block">
                    <h2>
                        <span>
                            <span class="text">
                                Тщательно
                            </span>
                            <span class="back">
                                <img src="../assets/text-wave.svg" alt="">
                            </span>
                        </span>
                        <span>продуманный</span>
                        <span>интерфейс кассы</span>
                    </h2>
                        <p>обладает удобной навигацией и помогает персоналу
                        быстро обслуживать посетителей, избегая очередей
                            даже в самые горячие обеденные часы.</p>
                    </h2>
                </div>
            </div>
        </div>
        <div id="sixth" class="slide slide6">
            <div class="background">
                <img src="../assets/presentation_image/sixth/sixth_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <div class="title">
                        <div class="back">
                            <img src="../assets/presentation_image/sixth/back.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Финансы</h2>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="image-block">
                        <img src="../assets/presentation_image/sixth/1.png" alt="">
                    </div>
                    <div class="text-block">
                        <p>В нашей системе реализован
                            полный контур управленческого учета на основе данных, поступающих в систему в реальном времени.</p>
                        <p>Удобный интерфейс выгрузки данных в 1С поможет вам всегда вовремя сдавать необходимую отчетность.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="seventh" class="slide slide7">
            <div class="background">
                <img src="../assets/presentation_image/seventh/seventh_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <div class="title">
                        <div class="back">
                            <img src="../assets/presentation_image/sixth/back.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Склад</h2>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="image-block">
                        <img src="../assets/presentation_image/seventh/1.png" alt="">
                    </div>
                    <div class="text-block">
                        <p>Как только на кассе пробивается чек, продукты, из которых состоят заказанные блюда, автоматически списываются со склада, а вы можете увидеть текущие остатки и себестоимость.</p>
                        <p>И наоборот, если вы нашли и исправили ошибку в документе двухнедельной давности, программа мгновенно пересчитает остатки на складах, скорректировав фудкост.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="eighth" class="slide slide8">
            <div class="background">
                <img src="../assets/presentation_image/eighth/eighth_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="left">
                    <div class="title">
                        <div class="back">
                            <img src="../assets/presentation_image/eighth/back.png" alt="">
                        </div>
                        <div class="text">
                            <h2>Персонал</h2>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="image-block">
                        <img src="../assets/presentation_image/eighth/1.png" alt="">
                    </div>
                    <div class="text-block">
                        <p>Наша система не только автоматически считает зарплату и мотивирует сотрудников работать с максимальной отдачей, но и помогает наладить правильные коммуникации между руководством, персоналом и гостями.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="ninth" class="slide slide9">
            <div class="background">
                <img src="../assets/presentation_image/ninth/ninth_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h2>
                        <span>Управление</span>
                        <span>приготовлением</span>
                        <span>блюд</span>
                    </h2>
                </div>
                <div class="content-body">
                    <div class="image-block">
                        <img src="../assets/presentation_image/ninth/1.png" alt="">
                    </div>
                    <div class="text-block">
                        <p>Наша система помогает управлять процессом приготовления, учета и подачи блюд, документируя каждый этап производства, а также осуществлять контроль над персоналом.</p>
                        <p>«Умные» технологические карты и гибкая мотивация для всех сотрудников заведения позволят добиться устойчиво высокого качества вашей кухни.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="ten" class="slide slide10">
            <div class="background">
                <img src="../assets/presentation_image/ten/ten_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h2>
                        <span>Ваш офис</span>
                        <span>там, где</span>
                        <span>Ваш</span>
                        <span>ноутбук</span>
                    </h2>
                </div>
                <div class="content-body">
                    <div class="image-block">
                        <img src="../assets/presentation_image/ten/1.png" alt="">
                    </div>
                    <div class="text-block">
                        <p>Получайте любую информацию о деятельности предприятия в том месте и в то время, когда вам это нужно!</p>
                        <p>Данные по всем участкам бизнеса доступны в реальном времени, вы всегда можете быстро оценить реальную ситуацию и быстро принять необходимые меры!</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="eleven" class="slide slide11">
            <div class="background">
                <img src="../assets/presentation_image/eleven/eleven_bg.jpg" alt="">
            </div>
            <div class="content">
                <div class="logo-block">
                    <img src="../assets/presentation_image/eleven/logo.png" alt="">
                </div>
                <div class="text-block">
                    <p><span>НАША СИСТЕМА</span> —
                        это платформа для торговых точек (POS) и управления бизнесом, созданная для того, чтобы помочь вам в достижении ваших целей. </p>
                </div>
            </div>
        </div>
        <div class="presentation-button">
            <button v-if="!availablePresentation" @click="openForm = true" class="presentation-button">
                Хотите знать больше?
            </button>
            <button v-if="availablePresentation" class="presentation-button">
                Качаем
            </button>
        </div>
        <div v-if="openForm" class="presentation-form-block">
            <div class="background">
                <img src="../assets/video-preloading-back.jpg" alt="">
            </div>
            <div class="title">
                <p>...но сначала немного о вас</p>
            </div>
            <form>
                <label>
                    <input type="text"
                           v-model="name"
                           placeholder="Ваше имя">
                    <span v-if="nameError"
                          class="error">Это поле нужно заполнить</span>
                </label>
                <label>
                    <input type="text"
                           v-model="email"
                           placeholder="Ваш email">
                    <span v-if="emailError"
                          class="error">Это поле нужно заполнить</span>
                </label>
                <div class="button-block">
                    <button @click="sendData()"
                            type="button">Отправить</button>
                </div>
            </form>
        </div>
<!--        <div id="twelve" class="slide slide12">-->
<!--            <div class="background">-->
<!--                <img src="../assets/presentation_image/twelve/twelve_bg.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                12-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="thirteen" class="slide slide13">-->
<!--            <div class="background">-->
<!--                <img src="../assets/presentation_image/thirteen/thirteen_bg.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                13-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="fourteen" class="slide slide14">-->
<!--            <div class="background">-->
<!--                <img src="../assets/presentation_image/fourteen/fourteen_bg.jpg" alt="">-->
<!--            </div>-->
<!--            <div class="content">-->
<!--                14-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
<script>
    new Vue({
        el: '#app',
        data: {
            counter: 0,
            name: '',
            phone: '',
            email: '',
            nameError: false,
            phoneError: false,
            emailError: false,
            showVideo: true,
            isReadyVideo: false,
            preloading: false,
            openForm: false,
            windowTop: true,
            video: null,
            isSafari: false,
            availablePresentation: false,
            showAnimation: true
        },
        watch: {
            name (v) {
                if (v.length > 0) {
                    this.nameError = false
                }
            },
            phone (v) {
                if (v.length > 0) {
                    this.phoneError = false
                }
            },
            email (v) {
                if (v.length > 0) {
                    this.emailError = false
                }
            },
            counter (v) {
                if (v === 100) {
                    this.preloading = false
                }
            }
        },
        computed: {
            percent() {
                return this.counter.toFixed();
            }
        },
        methods: {
            ready () {
                setTimeout(() => {
                    this.preloading = false
                }, 1000)
            },
            sendData () {
                if (this.name.length === 0) {
                    this.nameError = true
                }
                if (this.email.length === 0) {
                    this.emailError = true
                }
                if (!this.nameError > 0 && !this.phoneError && !this.emailError) {
                    axios.post('http://mdigital.beget.tech/restera/send.php', {
                        name: this.name,
                        email: this.email
                    }).then(() => {
                        this.availablePresentation = true
                        this.openForm = false
                    }).catch(() => {
                        this.availablePresentation = true
                        this.openForm = false
                        window.scrollTo(0,document.body.scrollHeight);
                    })
                }
            }
        },
        mounted () {
            this.isSafari =  /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
            fetch("/restera/assets/mobile.mp4")
                .then(resp => resp.blob())
                .then(blob => {
                    let video = document.getElementById('myVideoMobile')
                    let videoSrc = document.getElementById('myVideoMobileSrc')
                    video.src = URL.createObjectURL(blob)
                    videoSrc.src = URL.createObjectURL(blob)
                    video.hidden = false
                    video.play()
                }).then(() => {
                let intval = setInterval(() => {
                    if(this.counter < 100) {
                        this.counter += 1;
                    } else {
                        clearInterval(intval);
                    }
                }, 6);
            })
        },
        created () {
            let intval = setInterval(() => {
                if(this.counter < 99) {
                    this.counter += 1;
                } else {
                    clearInterval(intval);
                }
            }, 600);
        }

    })
</script>
</body>
</html>
