.slide8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .background {
    width: 100%;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    .left {
      width: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      position: relative;
      .title {
        display: flex;
        align-items: center;
        width: 350px;
        height: 100%;
        .back {
          width: 100%;
          border-radius: 50%;
          position: absolute;
          max-width: 450px;
          left: 0;
          top: 0;
          height: 100%;
          display: flex;
          align-items: center;
          img {
            max-width: 600px;
            margin-top: 50px;
          }
        }
        .text {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          h2 {
            margin: 0;
            width: 100%;
            font-size: 90px;
            color: #fff;
            text-align: center;
            font-family: Intro, sans-serif;
            span {
              border: 2px solid green
            }
          }
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .image-block {
        max-width: 500px;
        img {
          width: 100%;
        }
      }
      .text-block {
        max-width: 500px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          font-size: 22px;
          font-family: Intro, sans-serif;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .slide8 {
    .background {}
    .content {
      .left {
        .title {
          width: 350px;
          .back {
            max-width: 450px;
            img {
              max-width: 100%;
              margin-top: 50px;
            }
          }
          .text {
            h2 {
              font-size: 50px;
            }
          }
        }
      }
      .right {
        .image-block {
          max-width: 290px;
          img {
            width: 100%;
          }
        }
        .text-block {
          max-width: 290px;
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 690px) {
  .slide8 {
    .background {}
    .content {
      flex-direction: column;
      .left {
        width: 100%;
        .title {
          width: 350px;
          .back {
            max-width: 450px;
            img {
              max-width: 100%;
              margin-top: 50px;
            }
          }
          .text {
            h2 {
              font-size: 50px;
            }
          }
        }
      }
      .right {
        width: 100%;
        .image-block {
          max-width: 90%;
          border-radius: 30px;
          overflow: hidden;
          min-height: 200px;
          img {
            width: 100%;
          }
        }
        .text-block {
          max-width: 290px;
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
