@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../../assets/fonts/Gilroy-Light.woff2') format('woff2'),
  url('../../assets/fonts/Gilroy-Light.woff') format('woff'),
  url('../../assets/fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: local('Intro'), local('Intro'),
  url('../../assets/fonts/intro/intro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'Gilroy', sans-serif;
}
body {
  overflow-x: hidden;
  max-width: 100vw;
}
@import "preloading";
@import "form";
@import "modal";
@import "arrow";
@import "stroke";

// **************

@import "presentation/general_slide_styles";
@import "presentation/slide1.scss";
@import "presentation/slide2.scss";
@import "presentation/slide3.scss";
@import "presentation/slide4.scss";
@import "presentation/slide5.scss";
@import "presentation/slide6.scss";
@import "presentation/slide7.scss";
@import "presentation/slide8.scss";
@import "presentation/slide9.scss";
@import "presentation/slide10.scss";
@import "presentation/slide11.scss";
@import "presentation/button.scss";
@import "presentation/presentation_form_block.scss";
